main {
    position: relative;
    background-image: url('../templates/images/team-liquid.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* Overlay with opacity */
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 10, 61, 0.7); /* Adjust the color and opacity as needed */
    z-index: 1;
    pointer-events: none; /* Ensures the overlay does not interfere with interactions */
}
